button {
    background: #FFD700;
    color: #053F5E;
    border: solid #03293d 3px;
    display: inline-block;
    cursor: pointer;
    line-height: 4px;
    padding: 22px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px;
    height: 14px;
    font-family: 'Segoe UI';
    width: 185px;
    font-size: 17px;
    font-weight: 900;
    box-shadow: 0px 0px 0px 0px #000000;
    -webkit-box-shadow: 0px 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px 0px #000000;
    text-shadow: 0px 0px 0px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

ol{
 font-family:'Segoe UI';
}

