button {
    background: #0c1570;
    color: #ff9d00;
    border: solid #03293d 0px;
    display: inline-block;
    cursor: pointer;
    line-height: 4px;
    padding: 22px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px;
    height: 14px;
    font-family: 'Segoe UI';
    width: 185px;
    font-size: 17px;
    font-weight: 900;
    box-shadow: 0px 0px 0px 0px #000000;
    -webkit-box-shadow: 0px 0px 0px 0px #000000;
    -moz-box-shadow: 0px 0px 0px 0px #000000;
    text-shadow: 0px 0px 0px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 0px auto;
}

ol{
 font-family:'Segoe UI';
}

.text-box {
    border: 0px solid #FFD700; /* Thickness, style (solid/dashed/dotted), and color */
    padding: 5px; /* Space between the text and the border */
    margin: 10px auto; /* Space outside the box (top and bottom) */
    background-color: #0c1570; /* Optional: Background color inside the box */
    border-radius: 15px; /* Optional: Rounds the corners of the box */
    width: 80%;/* Width of the text box */
}

.centerTable {
    margin: 0px auto;
}